* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.sidebar {
  background: rgb(0, 7, 61);
  color: #fff;
  height: 100vh;
}

.top_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}
.logo {
  list-style: 0;
  font-style: 18px;
}
.NavLink {
  display: flex;
  color: #fff;
  padding: 5px 10px;
  gap: 10px;
  text-decoration: none;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  border-right: 4px solid transparent;
}
.NavLink:hover {
  border-right: 4px solid white;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  background: rgb(45, 51, 89);
}
.bars {
  display: none;
}
@media only screen and (max-width: 500px) {
  .bars {
    display: block;
  }
  .sidebar {
    width: 40px !important;
  }
  .top_section .logo {
    display: none;
  }
  .link_text {
    display: none;
  }
}
