body {
  color: #234567;
}

.loginButtonGray {
  margin-top: 20px;
  background-color: #b1dae7;
  /* background-color: #234567; */
  border: none;
  cursor: pointer;
  /* color: #b1dae7; */
  color: #234567;
  font-weight: bolder;
  border-radius: 10px;
  padding: 10px 0px;
}
.loginButton {
  margin-top: 20px;
  background-color: #234567;
  border: none;
  width: 6rem;
  cursor: pointer;
  color: #b1dae7;
  font-weight: bolder;
  border-radius: 10px;
  padding: 10px 0px;
}
.nazran {
  color: #234567;
  letter-spacing: 8px;
  font-size: larger;
  font-weight: 900;
}
