.Error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-size: 5rem;
}
.Error h1 {
  font-size: 4rem;
  color: red;
}
.Error button {
  border: none;
}
