/* .login {
  height: 89.5vh;
  background-image: linear-gradient(
      #1a1a1a52,
      #0c0c0c8a,
      rgba(22, 26, 24, 0.555)
    ),
    url("../../img/Banner1.jpg");

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginTitle {
  font-size: 50px;
  color: #2a2d2e;
}
.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 5px;
  background-color: #b1dae7d8;
}
.loginForm > label {
  margin: 10px 0;
  color: #234567;
}
.loginForm > input {
  border-radius: 10px;
  margin: 5px;
  outline: none;
}
.loginInput {
  padding: 10px;
  background-color: white;
  border: none;
} */
