.login {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), #18191ace),
    url("../../img/Banner.jpg");
}

.loginTitle {
  font-size: 50px;
  color: #b1dae7;
}
.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 10px;
  background-color: #b1dae7;
}
.loginForm > label {
  margin: 10px 0;
  color: #234567;
}
.loginForm > input {
  border-radius: 10px;
  margin: 5px;
  outline: none;
}
.loginInput {
  padding: 10px;
  background-color: white;
  border: none;
}
