.EmployeeForm {
  background-image: radial-gradient( circle farthest-corner at 92.3% 71.5%,  rgba(83,138,214,1) 0%, rgba(134,231,214,1) 90% );
  margin: auto;
  padding: 50px;
  height: 89vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.EmployeeForm input {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  outline: none;
}
.SelectOptionStyle {
  background: #ffffff;
  border: 1px solid #ced4da;
  padding: 8px;
  outline: none;
  color: #234567;
  border-radius: 10px;
  padding-right: 90px;
}
