footer {
  /*Remove "fixed, left, and bottom" if you want it to scroll naturally to the bottom*/
  position: relative;
  left: 0;
  bottom: 0;
  /*-------*/
  width: 100%;
  background-color: #1d2616;
}
.inside__footer {
  /* border-top: 1px solid lightgray; */
  padding: 10px;
  color: rgba(255, 255, 255, 0.747);
  max-width: 960px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyright {
  text-align: left;
  /* color: #a9a9a9; */
  font-size: 16px;
  order: 1;
  margin-bottom: 0;
}
.social {
  order: 2;
  margin-bottom: 0;
}
.textwhite:hover {
  color: white !important;
}
@media only screen and (max-width: 600px) {
  .card {
    padding: 30px;
    margin-bottom: 106px;
  }
  .inside__footer {
    /*use flex-direction, because if you change it to Block it'll never allow Order to work*/
    flex-direction: column;
  }
  .copyright {
    font-size: 14px;
    text-align: center;
    order: 2;
    margin-bottom: 4px;
  }
  .social {
    order: 1;
    margin-bottom: 4px;
  }
  .icon {
    width: 24px;
    height: 24px;
    transition: fill 0s, filter 0s;
  }
}
