.banner {
  background-image: linear-gradient(#b1dae764, #234567b7),
    url("../img/Banner1.jpg");
  /* height: calc(100vh - 60px); */
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: black;
}

.contain {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.box {
  margin-top: 40px;
  background-color: #eff0f1b7;
  width: 320px;
  border-radius: 5px;
  height: 170px;
}
.banner img {
  height: 15rem;
  width: 30rem;
}
@media all and (max-width: 500px) {
  .banner img {
    /* On small screens, we are no longer using row direction but column */
    /* flex-direction: column; */
    height: 8rem;
    width: 18rem;
  }
  .contain {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
