.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.607)),
    url("../img/Banner1.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  /* display: flex; */
  /* align-items: center;/ */
  /* justify-content: center; */
}
.banner h1 {
  text-align: center;
  color: white;
  font-size: 10rem;
}

.contain {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
.box {
  margin-top: 40px;
  background-color: #eff0f1b7;
  color: white;
  width: 320px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 170px;
}
.wellcome {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
.wellcome h2 {
  font-size: 5rem;
  color: #0B5ED7;
  text-align: center;
}
.box > h3 {
  padding: 1rem;
}
.box > span {
  font-size: 4rem;
  text-align: center;
}
@media all and (max-width: 500px) {
  .banner {
    height: auto;
  }

  .contain {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
