/* .cotainer {
  background-color: rgb(0, 0, 0);
  opacity: 55%;
  height: 100vh;
  width: 100%;
  z-index: 1;
} */
.banner {
  background-image: linear-gradient(#b1dae764, #234567), url("../img/Banner1.jpg");
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}
.banner h1 {
  color: #b1dae7;
  z-index: 999;
  font-weight: bolder;
  font-size: 5rem;
}
