.navbar {
background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(171,102,255,1) 0%, rgba(116,182,247,1) 90% );
background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );
background-image: linear-gradient( 109.6deg,  rgba(255,179,189,1) 1.8%, rgba(254,248,154,1) 50.6%, rgba(161,224,186,1) 100.3% );
background-image: linear-gradient( 109.6deg,  rgba(247,253,166,1) 11.2%, rgba(128,255,221,1) 57.8%, rgba(255,128,249,1) 85.9% );
background-image: linear-gradient( 180.4deg,  rgba(188,120,236,1) -2.2%, rgba(29,133,163,1) 83.5% );
background-image: radial-gradient( circle farthest-corner at 7.2% 13.6%,  rgba(37, 249, 245, 0.158) 0%, rgba(8,70,218,.6) 90% );
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.115);
}
.nav-item .nav-link {
  color: #234567 !important;
  font-weight: bold;
}
.nav-item .nav-link:hover {
  color: #1679db !important;
  transform: scale(0.99);
}
.nav-item .nav-link {
  color: #000 !important;
}
.prouctCart {
  position: relative;
}
.bag-quantity span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 20px;
  background-color: #1b1464;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  color: white;

  position: absolute;
  top: 7px;
  right: 10px;
}
.cta button a {
  text-decoration: none;
}
.cta:hover {
  color: white;
}
