/* .navbar-expand-lg {
  background-color: #b1dae7;
} */
.nav-item .nav-link {
  color: #234567 !important;
  font-weight: bold;
}
.nav-item .nav-link:hover {
  color: #1679db !important;
  transform: scale(0.99);
}
.navbar-light .navbar-toggler-icon {
  background-color: white;
}
.nav-item {
  background-color: #fff;
}
.nav-item .nav-link {
  background-color: #fff;
}
.prouctCart {
  position: relative;
}
.bag-quantity span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 20px;
  background-color: yellow;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  color: black;

  position: absolute;
  top: 7px;
  right: 10px;
}
