.container {
  height: 89.5vh;
  background-image: linear-gradient(
      #408bd652,
      #b1dae78a,
      rgba(136, 221, 187, 0.555)
    ),
    url("../../img/Banner1.jpg");
      background-image: radial-gradient(
    circle farthest-corner at 7.2% 13.6%,
    rgba(37, 249, 245, 0.158) 0%,
    rgba(8, 70, 218, 0.6) 90%
  );

  background-position: center center;
  background-size: cover;

  background-repeat: no-repeat;
  padding-top: 3rem;
}


.container .adduser {
  padding: 10px 0px;

  width: 18rem;
  /* background-color: rgb(195, 221, 211); */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.loginButton {
  background-color: #234567;
  border: none;
  /* width: 6rem; */

  cursor: pointer;
  color: #b1dae7;
  font-weight: bolder;
  border-radius: 10px;
  padding: 10px;
}
.SelectOptionStyle {
  background: #ffffff;
  border: none;
  padding: 8px;
  outline: none;
  color: #234567;
  border-radius: 10px;
  padding-right: 90px;
}

/* .login {
  font-family: Times, serif;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(#408bd67b, #b1dae76d),
    url("../../img/adduser.jpg");
}

.loginTitle {
  font-size: 50px;
  color: #b1dae7;
}
.loginForm > label {
  margin: 10px 0;
  color: #234567;
}
.loginForm > input {
  border-radius: 10px;
  margin: 5px;
  outline: none;
}
.loginInput {
  padding: 10px;
  background-color: white;
  border: none;
} */
