.userspage {
  width: 100%;
  height: auto;
  min-height: 88vh;
  background-image: radial-gradient(
    circle farthest-corner at 7.2% 13.6%,
    rgba(37, 249, 245, 0.158) 0%,
    rgba(8, 70, 218, 0.6) 90%
  );
}
.userData {
  text-align: center;
}
.cardslist {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 90px;
  gap: 2rem;
}
#form1 {
  width: 14rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 30px auto;
  /* background-image: radial-gradient( circle farthest-corner at 7.2% 13.6%,  rgba(37, 249, 245, 0.28) 0%, rgba(8,70,218,.2) 90% ); */
  background-color: #fff !important;
  width: 250px;
  height: 250px;
  border-radius: 20px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card .AddButton {
  width: inherit;
  height: inherit;
  font-size: 10rem;
  border-radius: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card .card_image img {
  width: 40%;
  height: 40%;

  /* border-top-left-radius: 40px; */
  /* border-top-right-radius: 40px; */
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.UserSearchInput {
  margin-right: 10rem !important;
}
.card .card_title {
  text-align: center;
  border-radius: 0px 0px 30px 30px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  /* margin-top: -80px; */
  height: 40px;
  background-color: #b1dae7;
}

.card:hover {
  transform: scale(0.99, 0.99);
  box-shadow: 3px 3px 18px 10px #234567ab, -3px -3px 18px 10px #b1dae7bb;
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}
.AddUserLink {
  text-decoration: none;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
.EditLink {
  color: #234567;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

/* .card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url("https://i.redd.it/b3esnz5ra34y.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  transition: 0.4s;
} */
.userspage h6{
  padding: 3px;
  background-color: #1cbd9d;
  color: white;
  font-weight: 500;
  
}