.employees {
  min-height: 100vh;
  height: auto;
  width: 100%;
  margin-bottom: 45px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 8rem;
  row-gap: 3rem;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}

.card {
  /* margin-left: 20px; */
  /* background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%); */
  /* background-image: radial-gradient( circle farthest-corner at 7.2% 13.6%,  rgba(37, 249, 245, 0.18) 0%, rgba(8,70,218,.2) 70% ); */
  background-color: #fff;
  margin-top: 11px;
  /* padding: 10px; */
  width: 300px;
  height: 533px;
  border-radius: 2px;
  text-align: center;
  color: #000;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.368);
  /* gap: 30rem; */
}

.coverPhoto {
  position: relative;
  background: url(../../img/logo.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 150px;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.profile {
  position: absolute;
  width: 100px;
  bottom: -50px;
  left: 12px;
  border-radius: 50%;
  border: 2px solid #222;
  background: rgba(34, 34, 34, 0.459);
  padding-top: 4px;
}

.profileName {
  font-size: 20px;
  margin: 14px 0 0 120px;
}

.about {
  margin-top: 24px;
  line-height: 1.6;
  margin-bottom: 0;
  color: #4884c1;
}

.btn {
  margin: 10px 5px;
  background: #b1dae7;
  padding: 8px 21px;
  border-radius: 2px;
  border: 1px solid #b1dae7;
  font-weight: bold;
  font-family: Montserrat;
  cursor: pointer;
  color: rgb(35, 34, 65);
  transition: 0.5s;
}

.btn:last-of-type {
  background: transparent;
  border-color: #b1dae7;
  color: #222;
}

.btn:hover {
  background: #b1dae7;
  color: #222;
}
.icons {
  padding: 0px 10px;
  padding-bottom: 110px;
  color: red;
  margin-bottom: 90px;
}
#btnPrimary {
  color: white;
  background: rgba(255, 0, 0, 0.74);
}
#btnPrimaryEdit {
  color: #222;
  background: #b1dae7;
}
